# Web scraping

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
from selenium.webdriver import Chrome
from selenium.webdriver.common.by import By
import scrapy
from scrapy.crawler import CrawlerProcess

# Exercici 1

Realitza web scraping d'una pàgina de la borsa de Madrid (https://www.bolsamadrid.es) utilitzant BeautifulSoup i Selenium.

Buscarem els valors de les accions de les diferents companyies del IBEX35 amb BeautifulSoup i Selenium

## BeautifulSoup

In [2]:
# Bolsa madrid link
url = 'https://www.bolsamadrid.es'

In [3]:
# Download the HTML
html = requests.get(url)

In [4]:
# Parse the HTML
soup = BeautifulSoup(html.content, 'html.parser')

In [5]:
# Get the Acciones links
links = [link.get('href') for link in soup.find_all('a', string='Acciones')]

In [6]:
# Accciones link
url_acciones = url + links[0]

In [7]:
# Download the HTML
html_acciones = requests.get(url_acciones)

In [8]:
# Parse the HTML
soup_acciones = BeautifulSoup(html_acciones.content, 'html.parser')

In [9]:
# Get the table of Acciones
table_acciones = soup_acciones.find(id='ctl00_Contenido_tblAcciones')

In [10]:
# Check table code
print(table_acciones.prettify())

<table cellpadding="3" cellspacing="0" class="TblPort" id="ctl00_Contenido_tblAcciones" width="100%">
 <tr align="center">
  <th scope="col">
   Nombre
  </th>
  <th scope="col">
   Últ.
  </th>
  <th scope="col">
   % Dif.
  </th>
  <th scope="col">
   Máx.
  </th>
  <th scope="col">
   Mín.
  </th>
  <th scope="col">
   Volumen
  </th>
  <th scope="col">
   Efectivo (miles €)
  </th>
  <th scope="col">
   Fecha
  </th>
  <th class="Ult" scope="col">
   Hora
  </th>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0125220311">
    ACCIONA
   </a>
  </td>
  <td>
   148,3000
  </td>
  <td class="DifClBj">
   -2,75
  </td>
  <td>
   152,8000
  </td>
  <td>
   148,1000
  </td>
  <td>
   51.504
  </td>
  <td>
   7.746,16
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:29
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0132105018">
    ACERINOX
   </a>
  </td>
  <td>
   11,1500
  </td>
  <td class="DifClBj">
   -7,24
  </td>
  <td>
   11,9650
  </td>
  <td>
   11,1100
  </td>
  <td>
   3.513.907
  </td>
  <td>
   41.351,62
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:36
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0167050915">
    ACS
   </a>
  </td>
  <td>
   22,4900
  </td>
  <td class="DifClBj">
   -2,68
  </td>
  <td>
   23,0500
  </td>
  <td>
   22,3000
  </td>
  <td>
   815.730
  </td>
  <td>
   18.499,06
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:37
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0105046009">
    AENA
   </a>
  </td>
  <td>
   144,7000
  </td>
  <td class="DifClBj">
   -2,13
  </td>
  <td>
   148,2500
  </td>
  <td>
   144,3500
  </td>
  <td>
   66.552
  </td>
  <td>
   9.713,73
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:16
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlSb">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0157097017">
    ALMIRALL
   </a>
  </td>
  <td>
   11,0600
  </td>
  <td class="DifClSb">
   1,28
  </td>
  <td>
   11,1700
  </td>
  <td>
   10,7400
  </td>
  <td>
   412.317
  </td>
  <td>
   4.543,95
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:38:25
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0109067019">
    AMADEUS
   </a>
  </td>
  <td>
   60,2400
  </td>
  <td class="DifClBj">
   -3,31
  </td>
  <td>
   61,9600
  </td>
  <td>
   59,3800
  </td>
  <td>
   592.084
  </td>
  <td>
   35.944,00
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:52
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=LU1598757687">
    ARCELORMIT.
   </a>
  </td>
  <td>
   27,2500
  </td>
  <td class="DifClBj">
   -5,61
  </td>
  <td>
   28,3000
  </td>
  <td>
   26,6100
  </td>
  <td>
   1.158.652
  </td>
  <td>
   31.739,77
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:40
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0113900J37">
    B.SANTANDER
   </a>
  </td>
  <td>
   2,9815
  </td>
  <td class="DifClBj">
   -3,28
  </td>
  <td>
   3,0760
  </td>
  <td>
   2,9695
  </td>
  <td>
   41.001.024
  </td>
  <td>
   124.490,51
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:52
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0113860A34">
    BA.SABADELL
   </a>
  </td>
  <td>
   0,6200
  </td>
  <td class="DifClBj">
   -3,37
  </td>
  <td>
   0,6418
  </td>
  <td>
   0,6172
  </td>
  <td>
   16.864.347
  </td>
  <td>
   10.585,88
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:29
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0113679I37">
    BANKINTER
   </a>
  </td>
  <td>
   5,0700
  </td>
  <td class="DifClBj">
   -2,09
  </td>
  <td>
   5,2180
  </td>
  <td>
   5,0520
  </td>
  <td>
   2.213.163
  </td>
  <td>
   11.383,68
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:47
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0113211835">
    BBVA
   </a>
  </td>
  <td>
   5,5180
  </td>
  <td class="DifClBj">
   -1,92
  </td>
  <td>
   5,5950
  </td>
  <td>
   5,4930
  </td>
  <td>
   10.008.802
  </td>
  <td>
   55.461,11
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:40
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0140609019">
    CAIXABANK
   </a>
  </td>
  <td>
   2,7080
  </td>
  <td class="DifClBj">
   -2,31
  </td>
  <td>
   2,7660
  </td>
  <td>
   2,7040
  </td>
  <td>
   12.084.283
  </td>
  <td>
   33.116,34
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:52
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0105066007">
    CELLNEX
   </a>
  </td>
  <td>
   41,5500
  </td>
  <td class="DifClBj">
   -3,80
  </td>
  <td>
   43,1300
  </td>
  <td>
   41,3000
  </td>
  <td>
   1.643.759
  </td>
  <td>
   69.810,30
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:51
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0105630315">
    CIE AUTOMOT.
   </a>
  </td>
  <td>
   25,4800
  </td>
  <td class="DifClBj">
   -2,60
  </td>
  <td>
   26,2600
  </td>
  <td>
   25,3000
  </td>
  <td>
   172.144
  </td>
  <td>
   4.438,62
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:21
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0130960018">
    ENAGAS
   </a>
  </td>
  <td>
   19,5700
  </td>
  <td class="DifClBj">
   -1,19
  </td>
  <td>
   19,9600
  </td>
  <td>
   19,5450
  </td>
  <td>
   403.933
  </td>
  <td>
   7.979,77
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:11
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0130670112">
    ENDESA
   </a>
  </td>
  <td>
   19,5250
  </td>
  <td class="DifClBj">
   -1,19
  </td>
  <td>
   19,8300
  </td>
  <td>
   19,5200
  </td>
  <td>
   637.367
  </td>
  <td>
   12.532,56
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:03
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0118900010">
    FERROVIAL
   </a>
  </td>
  <td>
   24,9700
  </td>
  <td class="DifClBj">
   -2,73
  </td>
  <td>
   25,5800
  </td>
  <td>
   24,8800
  </td>
  <td>
   569.101
  </td>
  <td>
   14.364,59
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:38
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0137650018">
    FLUIDRA
   </a>
  </td>
  <td>
   28,6000
  </td>
  <td class="DifClBj">
   -4,35
  </td>
  <td>
   29,6500
  </td>
  <td>
   28,1000
  </td>
  <td>
   492.014
  </td>
  <td>
   14.082,15
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:02
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0171996087">
    GRIFOLS CL.A
   </a>
  </td>
  <td>
   15,8200
  </td>
  <td class="DifClBj">
   -4,78
  </td>
  <td>
   16,7150
  </td>
  <td>
   15,7350
  </td>
  <td>
   829.379
  </td>
  <td>
   13.374,37
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:15
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0177542018">
    IAG
   </a>
  </td>
  <td>
   1,7925
  </td>
  <td class="DifClBj">
   -4,93
  </td>
  <td>
   1,8800
  </td>
  <td>
   1,7565
  </td>
  <td>
   28.154.685
  </td>
  <td>
   50.953,75
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:51
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0144580Y14">
    IBERDROLA
   </a>
  </td>
  <td>
   10,0300
  </td>
  <td class="DifClBj">
   -1,13
  </td>
  <td>
   10,1750
  </td>
  <td>
   9,9940
  </td>
  <td>
   6.952.009
  </td>
  <td>
   70.018,88
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:43
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0148396007">
    INDITEX
   </a>
  </td>
  <td>
   27,2400
  </td>
  <td class="DifClBj">
   -3,06
  </td>
  <td>
   28,1900
  </td>
  <td>
   27,0800
  </td>
  <td>
   1.186.690
  </td>
  <td>
   32.740,17
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:40
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0118594417">
    INDRA A
   </a>
  </td>
  <td>
   8,9000
  </td>
  <td class="DifClBj">
   -5,47
  </td>
  <td>
   9,3150
  </td>
  <td>
   8,8250
  </td>
  <td>
   646.249
  </td>
  <td>
   5.855,85
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:42
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0139140174">
    INM.COLONIAL
   </a>
  </td>
  <td>
   7,7750
  </td>
  <td class="DifClBj">
   -3,05
  </td>
  <td>
   8,1000
  </td>
  <td>
   7,7450
  </td>
  <td>
   322.332
  </td>
  <td>
   2.536,16
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:38:57
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0124244E34">
    MAPFRE
   </a>
  </td>
  <td>
   1,8500
  </td>
  <td class="DifClBj">
   -0,94
  </td>
  <td>
   1,8785
  </td>
  <td>
   1,8475
  </td>
  <td>
   2.248.563
  </td>
  <td>
   4.192,28
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:37:43
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0176252718">
    MELIA HOTELS
   </a>
  </td>
  <td>
   6,3880
  </td>
  <td class="DifClBj">
   -2,11
  </td>
  <td>
   6,5360
  </td>
  <td>
   6,2640
  </td>
  <td>
   849.569
  </td>
  <td>
   5.427,29
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:25
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0105025003">
    MERLIN
   </a>
  </td>
  <td>
   9,6680
  </td>
  <td class="DifClBj">
   -2,85
  </td>
  <td>
   9,9700
  </td>
  <td>
   9,6000
  </td>
  <td>
   701.048
  </td>
  <td>
   6.883,82
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:23
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0116870314">
    NATURGY
   </a>
  </td>
  <td>
   28,4200
  </td>
  <td class="DifClBj">
   -0,07
  </td>
  <td>
   28,7300
  </td>
  <td>
   28,3800
  </td>
  <td>
   153.657
  </td>
  <td>
   4.387,37
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:07
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0169501022">
    PHARMA MAR
   </a>
  </td>
  <td>
   53,0200
  </td>
  <td class="DifClBj">
   -5,12
  </td>
  <td>
   55,8000
  </td>
  <td>
   52,3200
  </td>
  <td>
   98.747
  </td>
  <td>
   5.311,32
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:43
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0173093024">
    R.E.C.
   </a>
  </td>
  <td>
   17,6600
  </td>
  <td class="DifClBj">
   -1,09
  </td>
  <td>
   17,8650
  </td>
  <td>
   17,6450
  </td>
  <td>
   319.978
  </td>
  <td>
   5.673,19
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:24
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0173516115">
    REPSOL
   </a>
  </td>
  <td>
   10,4640
  </td>
  <td class="DifClBj">
   -1,88
  </td>
  <td>
   10,7360
  </td>
  <td>
   10,3420
  </td>
  <td>
   6.079.655
  </td>
  <td>
   64.282,77
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:48
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0157261019">
    ROVI
   </a>
  </td>
  <td>
   62,2000
  </td>
  <td class="DifClBj">
   -1,27
  </td>
  <td>
   63,4000
  </td>
  <td>
   62,0000
  </td>
  <td>
   83.318
  </td>
  <td>
   5.214,33
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:05
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0143416115">
    SIEMENS GAME
   </a>
  </td>
  <td>
   15,9950
  </td>
  <td class="DifClBj">
   -1,81
  </td>
  <td>
   16,4750
  </td>
  <td>
   15,5500
  </td>
  <td>
   1.535.614
  </td>
  <td>
   24.481,50
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:28
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlBj">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0165386014">
    SOLARIA
   </a>
  </td>
  <td>
   14,8400
  </td>
  <td class="DifClBj">
   -4,35
  </td>
  <td>
   15,5200
  </td>
  <td>
   14,6100
  </td>
  <td>
   599.499
  </td>
  <td>
   8.979,75
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:52
  </td>
 </tr>
 <tr align="right">
  <td align="left" class="DifFlSb">
   <a href="/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0178430E18">
    TELEFONICA
   </a>
  </td>
  <td>
   4,0625
  </td>
  <td class="DifClSb">
   1,47
  </td>
  <td>
   4,1435
  </td>
  <td>
   3,9955
  </td>
  <td>
   24.530.762
  </td>
  <td>
   100.581,33
  </td>
  <td align="center">
   24/01/2022
  </td>
  <td align="center" class="Ult">
   15:39:47
  </td>
 </tr>
</table>

In [11]:
# Parse columns and row values
values = []
for row in table_acciones.find_all('tr'):
    if row.find_all('th'):
        columns = [element.get_text() for element in row.find_all('th')]
    elif row.find_all('td'):
        values.append([element.get_text() for element in row.find_all('td')])

In [12]:
# Save values into a dataframe
acciones = pd.DataFrame(values, columns=columns)

In [13]:
# View the dataframe
acciones

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,"148,3000","-2,75","152,8000","148,1000",51.504,"7.746,16",24/01/2022,15:39:29
1,ACERINOX,"11,1500","-7,24","11,9650","11,1100",3.513.907,"41.351,62",24/01/2022,15:39:36
2,ACS,"22,4900","-2,68","23,0500","22,3000",815.730,"18.499,06",24/01/2022,15:39:37
3,AENA,"144,7000","-2,13","148,2500","144,3500",66.552,"9.713,73",24/01/2022,15:39:16
4,ALMIRALL,"11,0600","1,28","11,1700","10,7400",412.317,"4.543,95",24/01/2022,15:38:25
5,AMADEUS,"60,2400","-3,31","61,9600","59,3800",592.084,"35.944,00",24/01/2022,15:39:52
6,ARCELORMIT.,"27,2500","-5,61","28,3000","26,6100",1.158.652,"31.739,77",24/01/2022,15:39:40
7,B.SANTANDER,"2,9815","-3,28","3,0760","2,9695",41.001.024,"124.490,51",24/01/2022,15:39:52
8,BA.SABADELL,"0,6200","-3,37","0,6418","0,6172",16.864.347,"10.585,88",24/01/2022,15:39:29
9,BANKINTER,"5,0700","-2,09","5,2180","5,0520",2.213.163,"11.383,68",24/01/2022,15:39:47
10,BBVA,"5,5180","-1,92","5,5950","5,4930",10.008.802,"55.461,11",24/01/2022,15:39:40
11,CAIXABANK,"2,7080","-2,31","2,7660","2,7040",12.084.283,"33.116,34",24/01/2022,15:39:52
12,CELLNEX,"41,5500","-3,80","43,1300","41,3000",1.643.759,"69.810,30",24/01/2022,15:39:51
13,CIE AUTOMOT.,"25,4800","-2,60","26,2600","25,3000",172.144,"4.438,62",24/01/2022,15:39:21
14,ENAGAS,"19,5700","-1,19","19,9600","19,5450",403.933,"7.979,77",24/01/2022,15:39:11
15,ENDESA,"19,5250","-1,19","19,8300","19,5200",637.367,"12.532,56",24/01/2022,15:39:03
16,FERROVIAL,"24,9700","-2,73","25,5800","24,8800",569.101,"14.364,59",24/01/2022,15:39:38
17,FLUIDRA,"28,6000","-4,35","29,6500","28,1000",492.014,"14.082,15",24/01/2022,15:39:02
18,GRIFOLS CL.A,"15,8200","-4,78","16,7150","15,7350",829.379,"13.374,37",24/01/2022,15:39:15
19,IAG,"1,7925","-4,93","1,8800","1,7565",28.154.685,"50.953,75",24/01/2022,15:39:51
20,IBERDROLA,"10,0300","-1,13","10,1750","9,9940",6.952.009,"70.018,88",24/01/2022,15:39:43
21,INDITEX,"27,2400","-3,06","28,1900","27,0800",1.186.690,"32.740,17",24/01/2022,15:39:40
22,INDRA A,"8,9000","-5,47","9,3150","8,8250",646.249,"5.855,85",24/01/2022,15:39:42
23,INM.COLONIAL,"7,7750","-3,05","8,1000","7,7450",322.332,"2.536,16",24/01/2022,15:38:57
24,MAPFRE,"1,8500","-0,94","1,8785","1,8475",2.248.563,"4.192,28",24/01/2022,15:37:43
25,MELIA HOTELS,"6,3880","-2,11","6,5360","6,2640",849.569,"5.427,29",24/01/2022,15:39:25
26,MERLIN,"9,6680","-2,85","9,9700","9,6000",701.048,"6.883,82",24/01/2022,15:39:23
27,NATURGY,"28,4200","-0,07","28,7300","28,3800",153.657,"4.387,37",24/01/2022,15:39:07
28,PHARMA MAR,"53,0200","-5,12","55,8000","52,3200",98.747,"5.311,32",24/01/2022,15:39:43
29,R.E.C.,"17,6600","-1,09","17,8650","17,6450",319.978,"5.673,19",24/01/2022,15:39:24
30,REPSOL,"10,4640","-1,88","10,7360","10,3420",6.079.655,"64.282,77",24/01/2022,15:39:48
31,ROVI,"62,2000","-1,27","63,4000","62,0000",83.318,"5.214,33",24/01/2022,15:39:05
32,SIEMENS GAME,"15,9950","-1,81","16,4750","15,5500",1.535.614,"24.481,50",24/01/2022,15:39:28
33,SOLARIA,"14,8400","-4,35","15,5200","14,6100",599.499,"8.979,75",24/01/2022,15:39:52
34,TELEFONICA,"4,0625","1,47","4,1435","3,9955",24.530.762,"100.581,33",24/01/2022,15:39:47

## Selenium

In [14]:
# Open browser
browser = Chrome()

In [15]:
# Get the page
browser.get(url)

In [16]:
# Get the links
links = browser.find_elements(By.LINK_TEXT, 'Acciones')

In [17]:
# Open the acciones webpage
links[0].click()

In [18]:
# Get the table of Acciones
table_acciones = browser.find_element(By.ID, 'ctl00_Contenido_tblAcciones')

In [19]:
# Parse columns and row values
values = []
for row in table_acciones.find_elements(By.TAG_NAME, 'tr'):
    if row.find_elements(By.TAG_NAME, 'th'):
        columns = [element.text for element in row.find_elements(By.TAG_NAME, 'th')]
    elif row.find_elements(By.TAG_NAME, 'td'):
        values.append([element.text for element in row.find_elements(By.TAG_NAME, 'td')])

In [20]:
# Save values into a dataframe
acciones = pd.DataFrame(values, columns=columns)

In [21]:
# View the dataframe
acciones

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,"148,3000","-2,75","152,8000","148,1000",51.504,"7.746,16",24/01/2022,15:39:29
1,ACERINOX,"11,1500","-7,24","11,9650","11,1100",3.513.907,"41.351,62",24/01/2022,15:39:36
2,ACS,"22,4900","-2,68","23,0500","22,3000",815.730,"18.499,06",24/01/2022,15:39:37
3,AENA,"144,7000","-2,13","148,2500","144,3500",66.552,"9.713,73",24/01/2022,15:39:16
4,ALMIRALL,"11,0600","1,28","11,1700","10,7400",412.317,"4.543,95",24/01/2022,15:38:25
5,AMADEUS,"60,2400","-3,31","61,9600","59,3800",592.084,"35.944,00",24/01/2022,15:39:52
6,ARCELORMIT.,"27,2500","-5,61","28,3000","26,6100",1.158.652,"31.739,77",24/01/2022,15:39:40
7,B.SANTANDER,"2,9815","-3,28","3,0760","2,9695",41.001.024,"124.490,51",24/01/2022,15:39:52
8,BA.SABADELL,"0,6200","-3,37","0,6418","0,6172",16.864.347,"10.585,88",24/01/2022,15:39:29
9,BANKINTER,"5,0700","-2,09","5,2180","5,0520",2.213.163,"11.383,68",24/01/2022,15:39:47
10,BBVA,"5,5180","-1,92","5,5950","5,4930",10.008.802,"55.461,11",24/01/2022,15:39:40
11,CAIXABANK,"2,7080","-2,31","2,7660","2,7040",12.084.283,"33.116,34",24/01/2022,15:39:52
12,CELLNEX,"41,5500","-3,80","43,1300","41,3000",1.643.759,"69.810,30",24/01/2022,15:39:51
13,CIE AUTOMOT.,"25,4800","-2,60","26,2600","25,3000",172.144,"4.438,62",24/01/2022,15:39:21
14,ENAGAS,"19,5700","-1,19","19,9600","19,5450",403.933,"7.979,77",24/01/2022,15:39:11
15,ENDESA,"19,5250","-1,19","19,8300","19,5200",637.367,"12.532,56",24/01/2022,15:39:03
16,FERROVIAL,"24,9700","-2,73","25,5800","24,8800",569.101,"14.364,59",24/01/2022,15:39:38
17,FLUIDRA,"28,6000","-4,35","29,6500","28,1000",492.014,"14.082,15",24/01/2022,15:39:02
18,GRIFOLS CL.A,"15,8200","-4,78","16,7150","15,7350",829.379,"13.374,37",24/01/2022,15:39:15
19,IAG,"1,7925","-4,93","1,8800","1,7565",28.154.685,"50.953,75",24/01/2022,15:39:51
20,IBERDROLA,"10,0300","-1,13","10,1750","9,9940",6.952.009,"70.018,88",24/01/2022,15:39:43
21,INDITEX,"27,2400","-3,06","28,1900","27,0800",1.186.690,"32.740,17",24/01/2022,15:39:40
22,INDRA A,"8,9000","-5,47","9,3150","8,8250",646.249,"5.855,85",24/01/2022,15:39:42
23,INM.COLONIAL,"7,7750","-3,05","8,1000","7,7450",322.332,"2.536,16",24/01/2022,15:38:57
24,MAPFRE,"1,8500","-0,94","1,8785","1,8475",2.248.563,"4.192,28",24/01/2022,15:37:43
25,MELIA HOTELS,"6,3880","-2,11","6,5360","6,2640",849.569,"5.427,29",24/01/2022,15:39:25
26,MERLIN,"9,6680","-2,85","9,9700","9,6000",701.048,"6.883,82",24/01/2022,15:39:23
27,NATURGY,"28,4200","-0,07","28,7300","28,3800",153.657,"4.387,37",24/01/2022,15:39:07
28,PHARMA MAR,"53,0200","-5,12","55,8000","52,3200",98.747,"5.311,32",24/01/2022,15:39:43
29,R.E.C.,"17,6600","-1,09","17,8650","17,6450",319.978,"5.673,19",24/01/2022,15:39:24
30,REPSOL,"10,4640","-1,88","10,7360","10,3420",6.079.655,"64.282,77",24/01/2022,15:39:48
31,ROVI,"62,2000","-1,27","63,4000","62,0000",83.318,"5.214,33",24/01/2022,15:39:05
32,SIEMENS GAME,"15,9950","-1,81","16,4750","15,5500",1.535.614,"24.481,50",24/01/2022,15:39:28
33,SOLARIA,"14,8400","-4,35","15,5200","14,6100",599.499,"8.979,75",24/01/2022,15:39:52
34,TELEFONICA,"4,0625","1,47","4,1435","3,9955",24.530.762,"100.581,33",24/01/2022,15:39:47

# Exercici 2

Documenta en un word el teu conjunt de dades generat amb la informació que tenen els diferents arxius de Kaggle.

### Títol

Accions del IBEX-35 24/01/2022

### Descripció

Accions de les 35 companyies del IBEX-35 del dia 24/01/2022

### Llicència

[CC0: Public Domain](https://creativecommons.org/publicdomain/zero/1.0/)

### Context

El IBEX-35 (Índice Bursátil Español) és l'índex borsari de referència de la Bolsa de Madrid (Bolsa de Madrid) i està format per 35 empreses. Aquest conjunt de dades conté la història del 24 de gener del 2022. 

### Content
Head of the dataset:
<img src="acciones_head.png" width="700px">

### Acknowledgements

Origen: https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000

# Exercici 3

Tria una página web que tu vulguis i realitza web scraping mitjançant la llibreria Scrapy.

In [22]:
import scrapy
from scrapy.crawler import CrawlerProcess

In [23]:
class QuotesSpider(scrapy.Spider):
    name = "quotes"

    def start_requests(self):
        urls = [
            'http://quotes.toscrape.com/page/1/',
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        page = response.url.split('/')[-2]
        filename = f'quotes/quotes-{page}.txt'
        with open(filename, 'w') as fw:
            for quote in response.css('div.quote'):
                author = quote.xpath('span/small/text()').get()
                quote = quote.css('span.text::text').get()
                fw.write(f"{author}: {quote}\n")
        self.log(f'Saved file {filename}')
        
        next_page = response.css('li.next a::attr("href")').get()
        if next_page is not None:
            yield response.follow(next_page, self.parse)

In [24]:
# Initialize the crawler
process = CrawlerProcess()

# Specify the spider to use
process.crawl(QuotesSpider)

# Start the crawling process
process.start()

2022-01-24 15:55:22 [scrapy.utils.log] INFO: Scrapy 2.5.1 started (bot: scrapybot)
2022-01-24 15:55:22 [scrapy.utils.log] INFO: Versions: lxml 4.6.3.0, libxml2 2.9.10, cssselect 1.1.0, parsel 1.6.0, w3lib 1.22.0, Twisted 21.7.0, Python 3.9.6 (v3.9.6:db3ff76da1, Jun 28 2021, 11:49:53) - [Clang 6.0 (clang-600.0.57)], pyOpenSSL 21.0.0 (OpenSSL 1.1.1m  14 Dec 2021), cryptography 36.0.1, Platform macOS-10.16-x86_64-i386-64bit
2022-01-24 15:55:22 [scrapy.utils.log] DEBUG: Using reactor: twisted.internet.selectreactor.SelectReactor
2022-01-24 15:55:22 [scrapy.crawler] INFO: Overridden settings:
{}
2022-01-24 15:55:22 [scrapy.extensions.telnet] INFO: Telnet Password: e2918dbdfc318406
2022-01-24 15:55:22 [scrapy.middleware] INFO: Enabled extensions:
['scrapy.extensions.corestats.CoreStats',
 'scrapy.extensions.telnet.TelnetConsole',
 'scrapy.extensions.memusage.MemoryUsage',
 'scrapy.extensions.logstats.LogStats']
2022-01-24 15:55:22 [scrapy.middleware] INFO: Enabled downloader middlewares:
['scrapy.downloadermiddlewares.httpauth.HttpAuthMiddleware',
 'scrapy.downloadermiddlewares.downloadtimeout.DownloadTimeoutMiddleware',
 'scrapy.downloadermiddlewares.defaultheaders.DefaultHeadersMiddleware',
 'scrapy.downloadermiddlewares.useragent.UserAgentMiddleware',
 'scrapy.downloadermiddlewares.retry.RetryMiddleware',
 'scrapy.downloadermiddlewares.redirect.MetaRefreshMiddleware',
 'scrapy.downloadermiddlewares.httpcompression.HttpCompressionMiddleware',
 'scrapy.downloadermiddlewares.redirect.RedirectMiddleware',
 'scrapy.downloadermiddlewares.cookies.CookiesMiddleware',
 'scrapy.downloadermiddlewares.httpproxy.HttpProxyMiddleware',
 'scrapy.downloadermiddlewares.stats.DownloaderStats']
2022-01-24 15:55:22 [scrapy.middleware] INFO: Enabled spider middlewares:
['scrapy.spidermiddlewares.httperror.HttpErrorMiddleware',
 'scrapy.spidermiddlewares.offsite.OffsiteMiddleware',
 'scrapy.spidermiddlewares.referer.RefererMiddleware',
 'scrapy.spidermiddlewares.urllength.UrlLengthMiddleware',
 'scrapy.spidermiddlewares.depth.DepthMiddleware']
2022-01-24 15:55:22 [scrapy.middleware] INFO: Enabled item pipelines:
[]
2022-01-24 15:55:22 [scrapy.core.engine] INFO: Spider opened
2022-01-24 15:55:22 [scrapy.extensions.logstats] INFO: Crawled 0 pages (at 0 pages/min), scraped 0 items (at 0 items/min)
2022-01-24 15:55:22 [scrapy.extensions.telnet] INFO: Telnet console listening on 127.0.0.1:6023
2022-01-24 15:55:22 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://quotes.toscrape.com/page/1/> (referer: None)
2022-01-24 15:55:22 [quotes] DEBUG: Saved file quotes/quotes-1.txt
2022-01-24 15:55:23 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://quotes.toscrape.com/page/2/> (referer: http://quotes.toscrape.com/page/1/)
2022-01-24 15:55:23 [quotes] DEBUG: Saved file quotes/quotes-2.txt
2022-01-24 15:55:23 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://quotes.toscrape.com/page/3/> (referer: http://quotes.toscrape.com/page/2/)
2022-01-24 15:55:23 [quotes] DEBUG: Saved file quotes/quotes-3.txt
2022-01-24 15:55:23 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://quotes.toscrape.com/page/4/> (referer: http://quotes.toscrape.com/page/3/)
2022-01-24 15:55:23 [quotes] DEBUG: Saved file quotes/quotes-4.txt
2022-01-24 15:55:23 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://quotes.toscrape.com/page/5/> (referer: http://quotes.toscrape.com/page/4/)
2022-01-24 15:55:24 [quotes] DEBUG: Saved file quotes/quotes-5.txt
2022-01-24 15:55:24 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://quotes.toscrape.com/page/6/> (referer: http://quotes.toscrape.com/page/5/)
2022-01-24 15:55:24 [quotes] DEBUG: Saved file quotes/quotes-6.txt
2022-01-24 15:55:24 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://quotes.toscrape.com/page/7/> (referer: http://quotes.toscrape.com/page/6/)
2022-01-24 15:55:24 [quotes] DEBUG: Saved file quotes/quotes-7.txt
2022-01-24 15:55:24 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://quotes.toscrape.com/page/8/> (referer: http://quotes.toscrape.com/page/7/)
2022-01-24 15:55:24 [quotes] DEBUG: Saved file quotes/quotes-8.txt
2022-01-24 15:55:24 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://quotes.toscrape.com/page/9/> (referer: http://quotes.toscrape.com/page/8/)
2022-01-24 15:55:25 [quotes] DEBUG: Saved file quotes/quotes-9.txt
2022-01-24 15:55:25 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://quotes.toscrape.com/page/10/> (referer: http://quotes.toscrape.com/page/9/)
2022-01-24 15:55:25 [quotes] DEBUG: Saved file quotes/quotes-10.txt
2022-01-24 15:55:25 [scrapy.core.engine] INFO: Closing spider (finished)
2022-01-24 15:55:25 [scrapy.statscollectors] INFO: Dumping Scrapy stats:
{'downloader/request_bytes': 2666,
 'downloader/request_count': 10,
 'downloader/request_method_count/GET': 10,
 'downloader/response_bytes': 23043,
 'downloader/response_count': 10,
 'downloader/response_status_count/200': 10,
 'elapsed_time_seconds': 2.863605,
 'finish_reason': 'finished',
 'finish_time': datetime.datetime(2022, 1, 24, 14, 55, 25, 371982),
 'httpcompression/response_bytes': 108561,
 'httpcompression/response_count': 10,
 'log_count/DEBUG': 20,
 'log_count/INFO': 10,
 'memusage/max': 116559872,
 'memusage/startup': 116559872,
 'request_depth_max': 9,
 'response_received_count': 10,
 'scheduler/dequeued': 10,
 'scheduler/dequeued/memory': 10,
 'scheduler/enqueued': 10,
 'scheduler/enqueued/memory': 10,
 'start_time': datetime.datetime(2022, 1, 24, 14, 55, 22, 508377)}
2022-01-24 15:55:25 [scrapy.core.engine] INFO: Spider closed (finished)